@import "tailwindcss";

@layer base {
    :root {
        --main: #0f0f0f;
        --surface: #1c1c1c;
        --muted: #cfcfcf;
    }

    html,
    body,
    #root {
        background-color: var(--main);
        color: var(--muted);
        font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
        height: 100%;
    }
}

@layer components {
    .fade-out {
        -webkit-mask-image: linear-gradient(to right, black 85%, transparent);
        mask-image: linear-gradient(to right, black 85%, transparent);
    }
}
