@import "tailwindcss";

@layer base {
    :root {
        --main: #2e2e2e;
        --surface: #1c1c1c;
        --muted: #cfcfcf;
    }

    html,
    body,
    #root {
        background-color: var(--main);
        color: var(--muted);
        font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
        height: 100%;
    }
}
